:root {
    --bg: #FCFDFD;

    --logo: #086B6B;

    --topbg: #E5F7F7;

    --text1: #232828;

    --button: #355757;

    --question: #0B5D5D;

    --optionsBorder: #7CA1A1;

    --option: #212D2D;

    --selected: #343636;

    --wrongBg: #FEF6F6;

    --correctBg: #BEF3F3;

    --correctText: #276565;

    --wrongText: #861111;

    --shadow: #BBB7B7;

    --disabled: #CBD2D2;
    --hover: #266060;

}