main {
    max-width: 480px;

    .top--section {
        background-color: var(--topbg);
        border-radius: 0 0 0 207px;
        margin-bottom: 1.5em;
    }

    nav {
        margin-bottom: 100px;
        padding: 48px 1em 0 1em;
        @include flex-1;

        p {
            margin-bottom: 0;
            font-family: 'Circe Bold';

            color: var(--logo);
        }


    }

    .bottom--section {
        padding: 3em 1em;
        @include flex-2;



        h1 {
            font-size: 1.5rem;
            text-align: center;
            color: var(--text1);

        }

        button {
            @include medium-button;
            background-color: var(--button);
            color: var(--bg);
            font-family: 'Circe Bold';
            font-weight: normal;
            @include flex-1;
            height: 48px;

            &:hover {
                background-color: var(--hover);
            }

            svg {
                margin-left: 0.5em;
            }
        }
    }


    .quiz--position {
        padding: 1em;

        h1 {
            font-size: 1.5rem;
            color: var(--question);
            margin-bottom: 1.5em;
        }

        .options {
            ul {
                list-style: none;

                li {
                    button {
                        padding: 1em;
                        width: 100%;
                        height: 100%;
                        appearance: none;
                        border: 2px solid var(--optionsBorder);
                        background-color: unset;
                        margin-bottom: 1em;
                        text-align: left;
                        border-radius: 50px;
                        font-size: 1rem;
                        cursor: pointer;
                        font-family: 'Circe';
                        color: var(--option);
                        transition: background 0.4s ease-in;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        &:disabled {
                            color: var(--disabled);
                            border-color: var(--disabled);
                        }


                    }
                }
            }
        }
    }
}

#selected {
    background-color: var(--selected);
    border: unset;
    color: var(--bg);
    font-family: 'Circe Bold';
}

.submit--area {
    padding: 1em;
    background: var(--bg);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba($color: #BBB7B7, $alpha: 0.41);


    p {
        margin-bottom: 0;
        font-family: 'Circe';
        text-transform: capitalize;
    }



    button {
        @include medium-button;
        font-family: 'Circe Bold';


    }


    #cancel {
        background-color: unset;
        color: var(--button);
    }

    #submit {
        background-color: var(--button);
        color: var(--bg);
        min-width: 96px;

        &:hover {
            background-color: var(--hover);
        }
    }

    #next {
        display: flex;
        justify-content: space-between;
        min-width: 128px;
        background-color: var(--text1);
        color: var(--bg);
    }

    #wrongAnswer {
        color: var(--wrongText);

    }

    #correctAnswer {
        color: var(--correctText);
    }







}

#fail {
    border: unset;
    background-color: var(--wrongBg);
    color: var(--wrongText);
    font-family: 'Circe Bold';

    .icons--section {
        #correct--icon {
            display: none;
        }
    }
}

#success {
    border: unset;
    background-color: var(--correctBg);
    color: var(--correctText);
    font-family: 'Circe Bold';

    .icons--section {
        #wrong--icon {
            display: none;
        }
    }


}

#notSelected {

    .icons--section {
        display: none;
    }
}

.finished {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--bg);
    bottom: 0;
    overflow-y: scroll;

    .results {
        @include flex-2;

        p {
            font-family: 'Circe Light';
            font-size: 1.25rem;
            color: var(--text1);
        }
    }

    .bottom--section {
        button {
            min-width: 160px;
            justify-content: space-between;
        }

    }


}